<p id="notice"><%= notice %></p>
<h1>Show Blogs</h1>

<p>
	<strong>Title:</strong><%= @blog.title %>
</p>

<p>
	<strong>Published:</strong><%= @blog.published %>
</p>

<p>
	<strong>Body:</strong><%= @blog.body %>
</p>
<div><%= link_to 'Edit', edit_blog_path(@blog) %></div>
<div><%= link_to 'Back', blogs_path %></div>