<div class="">
	<div class=""><%= link_to 'Home', root_path %></div>
	<div class=""><%= link_to 'About', about_path %></div>
	<div class=""><%= link_to 'Contact', contact_path %></div>
	<div class=""><%= link_to 'Resume', resume_path %></div>
	<div class=""><%= link_to 'Blogs', blogs_path %></div>
	<div class=""><%= link_to 'News', news_path %></div>
	<div class=""><%= link_to 'Jokes', jokes_path %></div>
</div>